<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTestTechniqueSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11968/WebServiceTestTechnique.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTestTechniqueSoap"
                contract="ServiceReferenceLemonWay.WebServiceTestTechniqueSoap"
                name="WebServiceTestTechniqueSoap" />
        </client>
    </system.serviceModel>
</configuration>